{% extends "layout.html" %}
{% block body %}
    <div>
        <ul>
            {% for food in foods %}
                <li>
                    <p><b>{{ food.name }}</b> {{ food.energy }} kcal, {{ food.origin }}</p>
                    <p>{{ food.fact }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <form action="{{ url_for('add_food') }}" method="post">
            Name:<br>
            <input type="text" name="name" value=""><br>
            Energy:<br>
            <input type="text" name="energy" value=""><br>
            Origin:<br>
            <input type="text" name="origin" value=""><br>
            Fact<br>
            <input type="text" name="fact" value=""><br><br>
            <input type="submit" value="Submit">

        </form>
    </div>
{% endblock %}
